[submodule "fmc_basic_peripheral/library"]
	path = fmc_basic_peripheral/library
	url = git@github.com:chipsalliance/rocket-pcblib.git
[submodule "pmod_microsd/library"]
	path = pmod_microsd/library
	url = git@github.com:chipsalliance/rocket-pcblib.git
[submodule "fpga_candelabra/library"]
	path = fpga_candelabra/library
	url = git@github.com:chipsalliance/rocket-pcblib.git

